
/*.wrapper{
    width:80% !important;
    min-width:980px;
}

#main{
    width:70% !important;
    min-width:680px;
}

#sidebar{
    width:30% !important;
    min-width:300px;
}*/

ul.r-list li a, ul.r-list li span {
    font-size: 12px;
}
#footer {
    font-size: 12px;
}
#header .nav li a, #header .nav li span {
    font-size: 14px;
}
#sidebar h3 {
    font-size: 14px;
}
#sidebar fieldset {
    font-size: 12px;
}
ul.breadcrumb li {
    font-size: 12px;
}
body.home .r-list {
    width: 100%
}
body.home .cell_3 {
    width: 100%
}
ul.r-list li ul li {
	    
    float: left;
    padding: 4px;
    min-height: 70px;
}
ul.r-list li ul li a {
	display:table-cell;
    font-size: 13px;
	height: 140px;
	vertical-align: top;
        width: 117px;
    word-wrap: normal;
    display: table-cell;
    text-align: center;
    white-space: pre-wrap;
    /* css-3 */
    
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    
    white-space: -pre-wrap;
    /* Opera 4-6 */
    
    white-space: -o-pre-wrap;
    /* Opera 7 */
    
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    
    border: 1px solid #ECECEC;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
}
ul.r-list li ul li a:hover {
    border: 1px solid #35c3d9;
}
ul.r-list li ul li span {
    display: none;
}
ul.r-list li h1 a {
    font-size: 24px;
    line-height: 30px;
}

#note-under-description {
	font-style:italic;
	color: #000;
}

#sidebar button{
    font-size: 15px;
}

#logo a img{
    height: 35px;
}

.main-search {
    background-color: transparent !important; 
    background-image: none !important; 
    padding: 0px; 
    border: none !important;
    box-shadow: none !important;
}

#header #logo{
    margin-left: 6px;
}

#header .nav{
    margin-right: 10px;
}

#logo a img{
height:35px;
}

.main-search {
background-color: transparent !important; 
background-image: none !important; 
padding: 0px; 
border: none !important;
box-shadow: none !important;
}

.main-search .ui-button {
background-color: #093D45 !important;
background-image: -webkit-linear-gradient(top, #03DDFF,#0D8BA0) !important;
background-image: -moz-linear-gradient(top, #35c3d9,#18a7be) !important;
background-image: -ms-linear-gradient(top, #35c3d9,#18a7be) !important;
background-image: -o-linear-gradient(top, #35c3d9,#18a7be) !important;
border: solid 1px #14889B !important;
}

.main-search input {
  background-color:#FFF !important;
  font-size:20px !important;
}
.select-box select{
font-size:16px
}

.select-box select option{
padding-top:10px !important;
padding-bottom:10px !important;
}

.select-box {
background: #FFF !important;
font-size:18px !important;
}
.main-search .has-placeholder {
    font-size: 20px !important;
}

#header #logo span {
font-size: 18px !important;
}

#header{
    background:#333;
}

.navbar-brand img{
    height: 60px;
	margin-top: -25px;
}

#sCategory{
    width: 200px;
    background: #f8f8f8;
    border: none;
    height: 45px;
    padding-left: 10px;
}

.home-search .form-control{
    padding:23px 8px;
}

.widget-box{
    background: none !important;
}

.jumbotron {
    padding-top: 15px !important;
}

/*** Main page Listing of latest ads ***/

.listing-grid .listing-card {
    min-height: 265px;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    /*border:none !important;*/
    border-radius: 2px;
    width:204px;
    height: 330px;
    position:relative;
    padding:0px; 
    /*background: #f4f3f2;*/
}
.listing-card .currency-value{
    right:10px;
}

.listing-card .currency-value , .listing-grid .g-ad-date{
    position:absolute;
    bottom:10px;
}

.listing-grid .g-ad-date{
    left:10px;
}

.listing-grid .listing-card:hover {
    /*border:1px transparent !important;*/
    /*border:none !important;*/    
    border: 1px solid #35c3d9;
    -webkit-box-shadow: 0px 0px 5px #888888;
    -moz-box-shadow: 0px 0px 5px #888888;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 2px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
}

.listing-grid .listing-basicinfo .title {
    font-size: 16px ;
    white-space: normal ;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 6px;
    padding-top: 8px;
    clear: both;
}

.listing-card .listing-attributes {
    font-size: 12px;
    color: #777;
    padding: 4px 0 8px;
    line-height: 1em
}
.listing-card .currency-value {
    margin-top: 5px;
}
.listing-grid .listing-detail{
    padding:10px;
    cursor: pointer;
}

body.search .listing-grid .listing-card {
    width:175px
}

/*** Side Bar ***/

body.search #sidebar, body.user #sidebar{
    width:240px !important;
}

#sidebar .filters .row{
    margin-left:0px !important;
    margin-right:0px !important;
}
#sidebar .input-text, #sidebar input[type="text"] , .form-container .resp-wrapper form input, .form-container .resp-wrapper form textarea, #item-post  input[type="text"]{
    border-radius:0px !important;
    box-shadow: none !important;
}
#item-post select{
    padding: 6px;
    width: 280px;
    border: 1px solid #bfbfbf;
}

#item-post .control-label{
    font-size: 12px !important;
}

.form-container .resp-wrapper form textarea{
    resize: vertical;
}

#sidebar .search-btn{
    padding: 8px;
    font-size: 12px;
    width: 100%;
}

.see_by{
    height: 28px !important;
}

.category .fa{
    font-size: 40px;
}

.listing-card{
    cursor: pointer;
}

.premiums-list-item-zb.premium{
    -webkit-transition: background-color 0.5s ease !important;
    background-color: #FFF !important;
}

.premiums-list-item-zb.premium:hover{
    background-color: #f3f3f4 !important;
}
.premium-container-zb{
    margin-top: 30px;
}

.premiums-list-item-zb p{
    display: none;
}

#sidebar .premium-list li.listing-card, #sidebar li.listing-card.premium{
    background: #FFF;
}

#sidebar div, #sidebar .listing-basicinfo > a{
    width: 195px !important;
}

#sidebar .listing-basicinfo > a{
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis; 
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-overflow: ellipsis;*/
}
/*** Contact Us form ***/

.form-container .resp-wrapper form{
    padding:10px 100px 10px 100px;
}
/*** Footer ***/
#footer{
    /*border-top: 1px solid #E5E5E5;*/
    background: #F7F7F7;
    color: #777777;
}